body {
    background-color: black;
    color: #971033;
    text-align: center;
}

/* Main Header1 */

#title {
    border-bottom: 5px solid #971033;
}

/* make links not look shit */

a {
    color: #971033;
}

/* Art and related css */

.seo-pics {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 2fr));
    gap: 10px;
    justify-items: center;
    max-width: 100%;
    height: auto;
    background-size: contain;
    padding: 10px 0;
}

.seo-pics img {
    filter: grayscale(100%);
    transition: transform .4s ease-in-out;
}

.seo-pics img:hover {
    filter: grayscale(0%);
    transform: scale(1.5);
    z-index: 1;
    transition: transform .4s ease-in-out;
}

/* Footer */

#footer {
    display: block;
    margin: 10px auto;
    padding-bottom: 10px;
    border-top: 5px solid #971033;
}


/* Dark mode button */

#darkbtn {
    display: flex;
    justify-content: center;   
  }
  
  .dark-mode {
      background-color: #FAFAFA;
  }

  .dark-mode img {
    filter: drop-shadow(0 0 0.15rem black);
  }

/* Media queries */

    @media only screen and (max-width: 426px) {
    .seo-pics {
      grid-template-columns: auto;
    }
    .seo-pics img {
        width: 300px;
        height: 300px;
    }
    .seo-pics img {
        filter: drop-shadow(0 0 0.15rem black);
        transition: none;
    }
    .seo-pics img:hover {
        filter: drop-shadow(0 0 0.15rem black);
        transform: none;
        z-index: 1;
        transition: none;
    }
}

    @media only screen and ( min-width: 427px ) and (max-width: 769px) {
    .seo-pics {
        grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    }
    .seo-pics img {
        width: 300px;
        height: 300px;
    }
    .seo-pics img {
        filter: none;
        transition: none;
    }
    .seo-pics img:hover {
        filter: none;
        transform: none;
        z-index: 1;
        transition: none;
    }
}